<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Home</title>
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
	<h1><big>ABC Event Management System</big></h1> 

	<nav>
        <a href="index">Home</a>
		<a href="events">Events</a>
		<a href="venues">Venues</a>
		<a href="attendees">Attendees</a>
        <a href="event_has_attendees">Events Attendees (CRUD)</a>
        <a href="task_definitions">Task Definitions</a>
		<a href="task_assignments">Task Assignments</a>
    </nav>

    <h2>Home</h2>

    <p>Welcome to the ABC Event Management System. Use the navigation links above to manage events, venues, attendees, task definitions, and task assignments.</p>
</body>
</html>
